<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="navbar">
      <%= link_to 'Index', root_path %>
      <%= link_to 'Bank', bank3_path %>
      <%= link_to 'Enroll', enroll3_path %>
      <%= link_to 'Udemy', udemy3_path %>
    </div>
    <%= yield %>
  </body>
</html>
